@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, button {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #065361;
}

nav{
    background-color: #065361;
    align-items: center;
    display: flex;
    top: 0;
    cursor: pointer;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 300px;
}
  
nav li {
    display: inline-block;
    list-style-type: none;
    margin-inline: 15px;
    padding-left: 50px;
}
  
nav a {
    font-size: 17px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700px;
}

nav a:hover {
    font-weight: bold;
    color: whitesmoke;
}
  
main {
    height: auto;
    background-image: url('https://cdn.pixabay.com/photo/2022/07/31/07/49/rainbow-7355199_960_720.jpg');
    background-attachment: fixed;
}

#home{
    padding: 50px;
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
    background-size: 100%;
    height: auto;
    width: auto;
}

#home .satu{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 900;
    padding: 20px;
    color: #065361;
}

h1{
    color: #065361;
    text-align: center;
    font-weight: 900;
    padding: 30px;
}

#home #description {
   text-align: justify;
   color: #065361;
   margin-left: 20px;
   font-size: 22px;
   font-weight: 600;
}

#home .content{
    display: inline-flex;
    padding: 30px;
}

#home .content .contentsatu{
    display: inline-flex;
    flex-wrap: wrap;
    margin-inline-end: 100px;
}

#home .button button{
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #e24226;
    border: none;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 20px;
}

#home .button button:hover {
    background-color: white; 
    color: black; 
    border: 3px solid lightblue;
}

#home .content img{
    display: inline-flex;
    margin-left: 30px;
    border-radius: 10px;
    border-style: groove;
}

#about {
    color: #065361;
    text-align:justify;
    height: auto;
    padding: 50px;
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
}

#about .dua{
    display: flex;
    padding: 20px;
    object-position: center;
}

#about .dua img{
    margin-left: 20px;
    border-radius: 10px;
}

#about .dua .duak{
    padding-left: 50px;
    margin-top: 50px;
    font-size: 17px;
}

#about .duak .btn{
    text-decoration: none;
    border-radius: 10px;
    margin-left: 2px;
    padding: 10px 10px;
    background-color: #e24226;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

#about .dua .btn button:hover {
    background-color: white; 
    color: black; 
    border: 3px solid lightblue;
}

#resources{
    color: #065361;
    height: auto;
    width: auto;
}

#resources h3{
    color: #e24226;
    padding: 10px;
    text-align: center;
}

#resources .tiga .edukasi{
    color: #065361;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 70px;
    text-align: justify;
}


.moni{
    padding: 30px;
}

.testimoni{
    color: #065361;
    height: auto;
    width: auto;
    padding: 30px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
}

.testimoni .coba{
    display: flex;
    margin-inline: 20px;
    align-items: center;
    padding: 5px 0;
    text-align: center;
    margin: 0 20px;
    list-style: none;
    padding: 0 0%;
    font-size: 17px;
}

.testimoni .coba img{
    border-radius: 50%;
    object-fit: cover;
}

.testimoni .coba p{
    text-align: center;
}

.card {
    box-shadow: 0 2px 2px 0 rgb(138, 198, 255);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    height: auto;
    width: auto;
}

#form {
    color: #065361;
    text-align:justify;
    height: auto;
    width: auto;
    padding: 50px;
    margin-left: 10px;
    font-family: 'Quicksand', sans-serif;
}

#form #isi{
   text-align: justify;
   color: #065361;
   margin-left: 50px;
   font-size: 17px;
}

#form form{
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    margin-left: 300px;
    margin-top: 20px;
    cursor: pointer;
    height: auto;
}

#form label{
    display: grid; 
    max-width: auto;
    column-gap: normal;
}
  
#form input[type=text], [type=number], [type=text], [type=email]{
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    width: 650px;
    padding: 6px 20px;
    margin: 5px 20px;
    display: inline-block;
    border: 2px solid lightblue;
    border-radius: 4px;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: 15px;
    color: #065361;
}

#form input[type=checkbox]{
    cursor: pointer;
    color: #e24226;
}

#form button{
    background-color: #e24226;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
}
  
#form button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid lightblue;
}

#contact{
    color: #065361;
    height: auto;
    width: auto;
    padding: 50px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
  
#contact #kontak{
    text-align: justify;
    color: #065361;
    font-size: 17px;
    text-align: justify;
    padding-left: 30px;
}

#contact .text{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

#contact #empat{
  display: flex;
   font-family: 'Quicksand', sans-serif;
   margin-top: 20px;
}

#contact #empat a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    float: inline-start;
    color: #065361;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#contact #empat .sosmed,.infon{
    padding-inline: 30px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

#contact #empat .infon p{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
}

#contact .fa{
    color: #e24226;
}

#contact .fa:hover{
    color: #065361;
}

footer {
    padding: 30px;
    background-color:#065361;
    color: white;
    text-align: center;
    font-weight: bold;
}
  
@media screen and (max-width: 1000px) {
    #content,aside {
    width: 100%;
    padding: 0;
    }
    header {
        display: inline;
    }
}